h1 {
    color: darkblue;
    font-size: 30px;
}
body {
    background: #f4f4f4;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  background-color: #212529;
  z-index: 2;
  color: white;
}

.container {
  margin: 0 auto;
  height: auto;
}

a[href*='github'] {
  text-decoration: none;
  color:white;
}

a[href*='linkedin'] {
  text-decoration: none;
  color:white;
}