{% extends "base.html" %}
{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<body>
    <h4> Edit the result data for {{ label_variable }}: </h4>
    <br>
    <form action="/update/{{update_variable.id}}" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <label for="Backset" class="col-sm-2 col-form-label"> Backset </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="Backset" name="Backset" value="{{ update_variable.backset }}">
            </div>
        </div>
        <div class="row">
            <label for="Height" class="col-sm-2 col-form-label"> Height </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="Height" name="Height" value="{{ update_variable.height }}">
            </div>
        </div>
        <div class="row">
            <label for="NIC" class="col-sm-2 col-form-label"> NIC </label>
            <div class="col-sm-2">
            <input type="number" step=".01" class="form-control" id="NIC" name="NIC" value="{{ update_variable.NIC }}">
            </div>
        </div>
        <div class="row">
            <label for="Nkm" class="col-sm-2 col-form-label"> Nkm </label>
            <div class="col-sm-2">
            <input type="number" step=".01" class="form-control" id="Nkm" name="Nkm" value="{{ update_variable.Nkm }}">
            </div>
        </div>
        <div class="row">
            <label for="rebound_velocity" class="col-sm-2 col-form-label"> Rebound Velocity </label>
            <div class="col-sm-2">
            <input type="number" step=".01" class="form-control" id="rebound_velocity" name="rebound_velocity" value="{{ update_variable.rebound_velocity }}">
            </div>
        </div>
        <div class="row">
            <label for="Fx_upper_neck" class="col-sm-2 col-form-label"> Fx Upper Neck </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="Fx_upper_neck" name="Fx_upper_neck" value="{{ update_variable.Fx_upper_neck }}">
            </div>
        </div>
        <div class="row">
            <label for="Fz_upper_neck" class="col-sm-2 col-form-label"> Fz Upper Neck </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="Fz_upper_neck" name="Fz_upper_neck" value="{{ update_variable.Fz_upper_neck }}">
            </div>
        </div>
        <div class="row">
            <label for="T1_acceleration" class="col-sm-2 col-form-label"> T1 Acceleration </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="T1_acceleration" name="T1_acceleration" value="{{ update_variable.T1_acceleration }}">
            </div>
        </div>
        <div class="row">
            <label for="time_head_contact" class="col-sm-2 col-form-label"> Time of Head Contact </label>
            <div class="col-sm-2">
            <input type="number" step=".1" class="form-control" id="time_head_contact" name="time_head_contact" value="{{ update_variable.time_head_contact }}">
            </div>
        </div>
        </br>
        <div class="row gx-3">
            <div class="col-2">
                <p>{{ form.submit(class="btn btn-primary") }} </p>
            </div>
            <div class="col-2">
                <a href="{{ url_for('profile') }}" class="btn btn-secondary"> Abort </a>
            </div>
        </div>
    </form>
</body>
{% endblock %}